<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #jugadorForm="ngForm">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" [(ngModel)]="jugador.nombre" 
          class="form-control" 
          id="name" 
          name="name" 
          placeholder="Ingrese el Nombre"
          required #name="ngModel">
      </div>
      <div class="form-group">
        <label for="email">Apellido</label>
        <input type="text" [(ngModel)]="jugador.apellido" 
          class="form-control" 
          id="apellido" 
          name="apellido" 
          placeholder="Ingrese el Apellido"
          required #email="ngModel">
      </div>
      <div class="form-group">
        <label for="email">Edad</label>
        <input type="text" [(ngModel)]="jugador.edad" 
          class="form-control" 
          id="edad" 
          name="edad" 
          placeholder="Ingrese la Edad"
          required #email="ngModel">
      </div>
      <div class="form-group">
        <label for="email">Equipo</label>
        <input type="text" [(ngModel)]="jugador.equipo" 
          class="form-control" 
          id="equipo" 
          name="equipo" 
          placeholder="Ingrese el Equipo"
          required #email="ngModel">
      </div>
      <div class="form-group">
        <label for="email">Posicion</label>
        <input type="text" [(ngModel)]="jugador.posicion" 
          class="form-control" 
          id="posicion" 
          name="posicion" 
          placeholder="Ingrese la Posicion"
          required #email="ngModel">
      </div>
      <button type="submit" [disabled]="!jugadorForm.form.valid" 
        class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
