<div class="card my-5">
  <div class="card-body" style="width:50%">
    <form (ngSubmit)="onSubmit()" #jugadorForm="ngForm">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" [(ngModel)]="jugador.nombre" 
          class="form-control" 
          id="nombre" 
          name="nombre" 
          placeholder="Ingrese el Nombre"
          required #nombre="ngModel">
      </div>
      <div [hidden]="!nombre.pristine" class="alert alert-danger">Nombre Requerido</div>
      <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" [(ngModel)]="jugador.apellido" 
          class="form-control" 
          id="apellido" 
          name="apellido" 
          placeholder="Ingrese el Apellido"
          required #apellido="ngModel">
      </div>
      <div [hidden]="!apellido.pristine" class="alert alert-danger">Apellido Requerido</div>
      <div class="form-group">
        <label for="edad">Edad</label>
        <input type="number" [(ngModel)]="jugador.edad" 
          class="form-control" 
          id="edad" 
          name="edad" 
          min="18"
          max="45"
          placeholder="Ingrese la Edad (entre 18 a 45 años)"
          required #edad="ngModel">
      </div>
      <div [hidden]="!edad.pristine" class="alert alert-danger">Edad Requerida</div>
      <div class="form-group">
        <label for="equipo">Equipo</label>
        <input type="text" [(ngModel)]="jugador.equipo" 
          class="form-control" 
          id="equipo" 
          name="equipo" 
          placeholder="Ingrese el Equipo"
          required #equipo="ngModel">
      </div>
      <div [hidden]="!equipo.pristine" class="alert alert-danger">Equipo Requerido</div>
      <div class="form-group">
        <label for="posicion">Posicion</label>
        <ng-multiselect-dropdown
        	[(ngModel)]="selectedPosiciones"
        	[settings]="configPosiciones"
        	[data]="listaPosiciones"
        	id="posicion" 
          	name="posicion" 
          	required #posicion="ngModel">
	    </ng-multiselect-dropdown>
        <!-- <select [(ngModel)]="jugador.posicion"
          class="form-select"  
          id="posicion" 
          name="posicion" 
          required #posicion="ngModel">
          <option value="Arquero">Arquero</option>
          <option value="Defensor">Defensor</option>
          <option value="Volante">Volante</option>
          <option value="Delantero">Delantero</option>
        </select> -->
      </div>
      <div [hidden]="!posicion.pristine" class="alert alert-danger">Posicion Requerida</div>
      <div class="form-group">
        <label for="camiseta">Camiseta</label>
        <input type="number" [(ngModel)]="jugador.camiseta" 
          class="form-control" 
          id="camiseta" 
          name="camiseta" 
          mix="1"
          max="23"
          placeholder="Ingrese el nro de Camiseta (entre 1 a 23)"
          required #camiseta="ngModel">
      </div>
      <div [hidden]="!camiseta.pristine" class="alert alert-danger">Camiseta Requerida</div>
      <button type="submit" [disabled]="!jugadorForm.form.valid" 
        class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
<script>
	var selectedPosiciones = JSON.parse(selectedPosiciones);
</script>